*{
    box-sizing: border-box;
}

nav{
    background: rgb(52,40,255);
    background: linear-gradient(90deg, rgba(52,40,255,1) 0%, rgba(81,152,255,1) 100%);
}

header{
    border-radius: 20px;
    background-color: lightgray;
    padding: 0.1em;
    margin: 1em;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
    background-color: whitesmoke;
}

.table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

footer{
    margin-top:auto;
    padding: 0.5em;
    font-size: 13px;
    font-weight: 500;
    background: rgb(52,40,255);
    background: linear-gradient(90deg, rgba(52,40,255,1) 0%, rgba(81,152,255,1) 100%);
}

ul li{
    margin: 0em 0.5em 0em 0.5em;
    transition: 0.3s ease;
    border-radius: 10px;
    font-weight: 500;
}

ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}